<div class="country-detail">
  <div>
    <strong>{{model.food}}</strong>
  </div>

  <figure>
      <img class="flag" src="/assets/images/{{model.name}}.png" alt="{{country.name}}">
    <figcaption class="text-center mt12">
    </figcaption>
  </figure>

  <h1><em>{{model.name}}</em></h1>

  <div class="capital">
    <strong>Capital:</strong> {{model.capital}}
  </div>

  <div class="recipe mt12">
    {{model.dish}}
  </div>
</div>
