<div class="country-detail">
  <figure>
      <img class="flag" src="/assets/images/{{model.name}}.png" alt="{{country.name}}">
    <figcaption class="text-center mt12 mb30">
    </figcaption>
  </figure>
  <em>A little bit about {{model.name}}</em>
  <div class="capital">
    <strong>Capital:</strong> {{model.capital}}
  </div>
  <p class="description">{{model.description}}</p>
</div>
